body{
    background-color:rgb(253, 251, 251);
}
header{
    top:0;
    margin:0;
}
#cabecalho{
    background-color:lightslategray;
    top: 0;
    padding: 35px;
    border:2px solid #1fbb2c;
}
#section-header{
    border:2px solid #1fbb2c;
}
#minha_foto{
    border: 5px solid rgb(5, 59, 238);
}
#section-main{
    border: 2px solid crimson;
}
footer{
    background-color:lightslategrey;
    padding: 20px;
    border:2px solid #1fbb2c;
}
   