body{
    background-color:rgb(253, 251, 251);
}
#cabecalho{
    background-color:lightslategray;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    padding: 35px;
    margin:0;
    
}
footer{
    background-color:lightslategrey;
    padding: 20px;;
}
section{
    margin:5px;
}
   